@{
    ViewData["Title"] = "中石化";
}

<div class="row">
    <div class="col">
        <div>
            <label class="me-2">Models：</label>
            <div class="form-check-inline">
                <input type="radio" name="Item" id="T15" value="T15" checked>
                <label class="form-check-label" for="T15">每15分平均</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" name="Item" id="T60" value="T60">
                <label for="T60">每小時平均</label>
            </div>
            <div class="form-check-inline">
                <input type="radio" name="Item" id="T1440" value="T1440">
                <label for="T1440">每日平均</label>
            </div>
        </div>
        <div class="pt-2">
            <label>資料完整率：</label>
            <input class="text-center text-danger" type="text" id="CompletenessRate" readonly>
        </div>
        <div class="py-2 d-flex align-items-center">
            <label>開始時間：</label>
            <input name="StartTime" id="StartTime" type="datetime-local" value="@DateTime.Now.ToString("yyyy-09-08T00:00")">
            <label class="ms-2">結束時間：</label>
            <input name="EndTime" id="EndTime" type="datetime-local" value="@DateTime.Now.ToString("yyyy-09-08T01:00")">
            <button class="btn btn-primary py-1 rounded-pill mx-2" type="button" value="查詢" onclick="Search_Click()">查詢</button>
            <button class="btn btn-primary py-1 rounded-pill" type="button" value="匯出" onclick="Excel_Click()">匯出</button>
        </div>
        <div>
            <label>GDs：</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="SiteHCN" value="Value21"><label for="SiteHCN">現場-氰化氫</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="O2" value="Value22"><label for="O2">氧氣</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="H2" value="Value23"><label for="H2">氫氣</label>
        </div>
        <div>
            <label>MBs：</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="PilotLight1" value="Value16"><label for="PilotLight1">母火溫度 T1</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="PilotLight2" value="Value17"><label for="PilotLight2">母火溫度 T2</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="PilotLight3" value="Value18"><label for="PilotLight3">母火溫度 T3</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="WasteTemp" value="Value13"><label for="WasteTemp">廢棄溫度</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="WasteFlow" value="Value14"><label for="WasteFlow">廢棄流量</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="WaterA" value="Value19"><label for="WaterA">水封槽液位</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="WaterB" value="Value20"><label for="WaterB">水封槽壓力</label>
        </div>
        <div>
            <label>VOCs：</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="C1" value="Value1"><label for="C1">C1</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="C2" value="Value2"><label for="C2">C2</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="C3" value="Value3"><label for="C3">C3</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="C4" value="Value4"><label for="C4">C4</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="C5" value="Value5"><label for="C5">C5+</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="THC" value="Value6"><label for="THC">THC</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="HCN" value="Value7"><label for="HCN">氰化氫</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="C3H8" value="Value8"><label for="C3H8">丙烷</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="C3H6" value="Value9"><label for="C3H6">丙烯</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="HCN2" value="Value10"><label for="HCN2">氰化氫二聚物</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="ACN" value="Value11"><label for="ACN">乙腈</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="AN" value="Value12"><label for="AN">丙烯腈</label>
        </div>
        <div>
            <label>HVs：</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="TMP" value="TMP"><label for="TMP">站內溫度</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="HV_C1" value="C1"><label for="HV_C1">C1</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="HV_C2" value="C2"><label for="HV_C2">C2</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="HV_C3" value="C3"><label for="HV_C3">C3</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="HV_C4" value="C4"><label for="HV_C4">C4</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="HV_C5" value="C5"><label for="HV_C5">C5+</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="HV_HCN" value="HCN"><label for="HV_HCN">氰化氫</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="HV_C3H6" value="C3H6"><label for="HV_C3H6">丙烯</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="HV_ACN" value="ACN"><label for="HV_ACN">乙腈</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="HV_AN" value="AN"><label for="HV_AN">丙烯腈</label>
            <input class="mx-1" type="checkbox" name="CheckBoxItem" id="GHV" value="GHV"><label for="GHV">總熱值</label>
        </div>
        <div class="m-3" style="height:600px;">
            <canvas id="myLineChart" class=""></canvas>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/xlsx.full.min.js"></script>
    <script>
        function Excel_Click() {
            const checkboxes = document.querySelectorAll('input[name="CheckBoxItem"]:checked');
            const model = document.querySelector('input[name="Item"]:checked').value;
            const checkboxValues = Array.from(checkboxes).map(checkbox => checkbox.value);
            const checkboxStrings = Array.from(checkboxes).map(checkbox => checkbox.id);
            let startTime = $("#StartTime").val();
            let endTime = $("#EndTime").val();
            let completenessRate = $("#CompletenessRate").val();
            if (completenessRate == "") {
                alert("尚未查詢，無法輸出Execl");
                return;
            };
            let params = {
                model,
                startTime,
                endTime,
                checkboxValues,
                checkboxStrings
            };
            fetchData2(params);
        }
        function fetchData2(queryBody) {
            if (queryBody.model == "T1440") {
                fetch("/CpdcApi/Day", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(queryBody)
                })
                    .then(response => response.json())
                    .then(data => {
                        ExportExcel(data)
                    })
                    .catch(error => {
                        alter(error);
                    })
            } else {
                fetch("/CpdcApi", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(queryBody)
                })
                    .then(response => response.json())
                    .then(data => {
                        ExportExcel(data)
                    })
                    .catch(error => {
                        alter(error);
                    })
            }
        };
        function ExportExcel(data) {
            const checkboxes = document.querySelectorAll('input[name="CheckBoxItem"]:checked');
            const checkboxStrings = Array.from(checkboxes).map(checkbox => checkbox.id);
            const checkboxStrings_TW = Array.from(checkboxes).map(checkbox => checkbox.labels[0].innerText);
            let completenessRate = $("#CompletenessRate").val();
            checkboxStrings_TW.unshift("時間");
            const excelData = [
                checkboxStrings_TW,
            ];
            let resultArray = data.map(item => {
                let values = [item.RecDateTime];
                checkboxStrings.forEach(attr => {
                    values.push(item[attr]);
                });
                return values;
            });
            resultArray.forEach(item => {
                excelData.push(item);
            })
            excelData.unshift([`資料完整率：${completenessRate}`]);
            let worksheet = XLSX.utils.aoa_to_sheet(excelData);
            let workbook = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(workbook, worksheet, "Data");
            XLSX.writeFile(workbook, "歷史趨勢.xlsx");
        }
    </script>
}